name: Validate with Hassfest

on: # yamllint disable-line rule:truthy
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v5.0.1"
      - uses: "home-assistant/actions/hassfest@master"
