name: Manage labels

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main

jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6.0.1

      - name: Run Labeler
        uses: crazy-max/ghaction-github-labeler@v5.3.0
        with:
          skip-delete: true
